# Python environment
.venv/
venv/

# Bytecode / caches
__pycache__/
*.py[cod]

# IDE / system
*.DS_Store
.project
.vscode/

# Проектні артефакти
project_tree.txt
dejavu-sans.zip

# Секрети
.env

# Документи
*.pkl

.mypy_cache/

terraform.tfvars
# Terraform state files (NEVER commit these)
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
