# Секрети / середовище
.env

# Python кеші
__pycache__/
*.py[cod]

# Virtualenv
.venv/
env/
venv/

# Логи, бекапи, БД
*.log
*.sqlite3
*.db
backups/

# Build artifacts
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# ОС-специфічне
.DS_Store
Thumbs.db